# Dependency directory
node_modules/

# Build output
dist/
.vite/

# Firebase settings (if you use local emulators or CLI)
firebase-debug.log
firestore-debug.log
.firebase/

# Environment variables
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# macOS folder metadata
__MACOSX/
